<footer class="footer animated fadeInUp">
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <hr>
        <div style="float:left">Concious investing for a better world <i class="fa-solid fa-feather-pointed color-accent"></i></div>
        <a style="float:right" id="shareButton">share <i class="fa-solid fa-share"></i></a>
      </p>
    </div>
  </div>
</footer>

<script>
  shareButton.addEventListener('click', event => {
  if (navigator.share) {
    navigator.share({
      title: 'Guy Antoine e-Card',
      url: 'https://guy.antoine.ink'
    }).then(() => {
      console.log('Thanks for sharing!');
    })
    .catch(console.error);
  } else {
    // fallback if Web Share not supported
    navigator.clipboard.writeText("https://guy.antoine.ink");
    alert("Shareable link copied to clipboard");
  }
});
</script>
