<footer class="footer animated fadeInUp">
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <hr>
      <div style="float:left">Conscious investing for a better world <i id="delay-feather" class="delay-load fa-solid fa-feather-pointed color-accent"></i></div>
      <a style="float:right" id="shareButton">share <i class="fa-solid fa-share"></i></a>
    </div>
  </div>
</footer>

<script>
  shareButton.addEventListener('click', event => {
  if (navigator.share) {
    navigator.share({
      title: 'Guy Antoine e-Card',
      url: 'https://guy.antoine.ink'
    }).then(() => {
      console.log('Thanks for sharing!');
    })
    .catch(console.error);
  } else {
    // fallback if Web Share not supported
    navigator.clipboard.writeText("https://guy.antoine.ink")
      .then(() => {
          alert("Shareable link copied to clipboard");
        })
      .catch(() => {
          alert("Oops something went wrong... plz copy and paste the following url: https://guy.antoine.ink");
        });    
  }
  });
</script>

<!-- Delay load script   -->
<script>
//   Works with delay-load class in CSS to make elements visible after specified delay
  const feather = document.getElementById('delay-feather');

  setTimeout(() => {
    feather.style.visibility = 'visible'; 
  }, 2000); // 👈️ delay in milliseconds

// visibility attribute takes space on page, display does not
// 👇️ if you used `display` to hide element
// el.style.display = 'block';
</script>
