<footer class="footer animated fadeInUp">
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <hr>
<!--       <div style="float:left">Conscious investing for a better world <i class="fa-solid fa-feather-pointed color-accent"></i></div> -->
      <div style="float:left">
        Making web-building technology accessible, fun and functional 
        <a href="https://sugarsnap.so" target="_blank">
            <svg style="display: inline-block" width="0.8em" height="0.8em" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M33.9 76.5L33.8 76.4C31.6 74.4 31.3 71.2 33.1 68.9C34 67.8 35.3 67 36.8 66.9C38.3 66.7 39.7 67.2 40.9 68.1C47 72.6 52.9 74.8 58.5 74.8C62.5 74.8 66.2 73.6 68.7 71.5L68.9 71.4C71.2 69.9 72.5 67.9 72.5 65.9C72.4 64 71.8 62.6 69 60.2C66.7 58.4 62.6 57.1 56.9 56.1L56.5 56L56.2 55.9C50.9 54.9 45.6 53.6 41.5 50.8C36.6 47.9 33.6 42.9 33.6 37.5C33.6 32.1 36.4 26.9 41.4 23.3C45.9 20.2 51.6 18.6 58.2 18.6C66.8 18.6 73 22.5 77.9 25.6L78.2 25.8C80.7 27.6 81.3 31 79.7 33.5C78.1 36.1 74.6 36.8 72.1 35.2L71.7 34.9C67.4 32 63.4 29.4 58.2 29.4C54 29.4 50.3 30.5 47.9 32.4C45.9 34 44.9 35.8 44.9 37.6C44.9 39 45.3 40.1 47.4 41.8C50 43.5 53.9 44.9 58.8 45.6H59.2C65 46.5 70.3 48.2 75.2 51L75.4 51.1C79.6 53.8 82.4 58.2 83.3 62.9C86.1 57.1 87.7 50.7 87.7 43.8C87.7 19.6 68.1 0 43.9 0C19.7 0 0 19.6 0 43.8C0 68 19.6 87.6 43.8 87.6C48.1 87.6 52.3 87 56.3 85.8C48.5 85.3 40.9 82.1 33.9 76.5Z" fill="currentColor"/>
            </svg>
        </a>
      </div>
      <a style="float:right" id="shareButton">share <i class="fa-solid fa-share"></i></a>
    </div>
  </div>
</footer>

<script>
  shareButton.addEventListener('click', event => {
  if (navigator.share) {
    navigator.share({
      title: 'Guy Antoine e-Card',
      url: 'https://guy.antoine.ink'
    }).then(() => {
      console.log('Thanks for sharing!');
    })
    .catch(console.error);
  } else {
    // fallback if Web Share not supported
    navigator.clipboard.writeText("https://guy.antoine.ink")
      .then(() => {
          alert("Shareable link copied to clipboard");
        })
      .catch(() => {
          alert("Oops something went wrong... plz copy and paste the following url: https://guy.antoine.ink");
        });    
  }
  });
</script>
