<h1>
  <a href="/" class="unstyled-anchor">
    <div class="avatar">
      <!-- Using my Gravatar pic (md5) -->
      <img src="https://www.gravatar.com/avatar/53266ed5eeac1dc0e6cd4d659a8813d2?s=400" />
    </div>
    <div class="id name">
<!--           <span class="name">Guy Antoin</span> -->
      <p>Guy Ant<i class="delay-load fa-solid fa-meteor color-accent"></i>ine</p>
      <!-- <span class="handle">@zeebs</span> -->
    </div>
  </a>
</h1>

<script>
  const els = document.getElementByClassName('delay-load');

  
    els.forEach( el => {
      setTimeout(() => {
        el.style.visibility = 'visible'; //takes space, display does not
      // 👇️ if you used `display` to hide element
      // el.style.display = 'block';
      }, 2000); // 👈️ delay in milliseconds
    });

</script>
