---
layout: main
---

{% include header.html %}
<!-- https://web3forms.com -->
<!-- API - with personalised access key -->
<section class="intro animated fadeInUp">
<div class="grid">
  <div class="unit whole center-on-mobiles">
    <form action="https://api.web3forms.com/submit" method="POST">
<!-- NB - MY OWN ACCESS KEY HERE         -->
        <input type="hidden" name="access_key" value="6a366f03-15c4-4ac9-8221-1e04db2ed6e5">

        <input type="text" name="name" required>
        <input type="email" name="email" required>
        <textarea name="message" required></textarea>
        <input type="hidden" name="redirect" value="https://web3forms.com/success">

        <button 
                type="submit"
                class="g-recaptcha"
                data-sitekey="6LdHm6giAAAAAMnzyAmWNEYtYoHReKADsUZc4dcR" 
                data-callback='onSubmit' 
                data-action='submit'>
          Submit Form
        </button>
    </form>
  </div>
</div>
</section>

{% include footer.html %}
